.meta {
  display:flex;
  flex-direction: column;  
  gap:0.2rem;
}

.error {
  color:red;
}

.fields {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.field {
  display:flex;
  align-items: center;
}

.on {
  color:blue;
}
